Subject: VSOS VM Usage Survey: Response needed
To: {{.RECIPIENT}}


Dear user,
We are sending you this email because you have a VM with VSOS.
- {{.HOSTNAME}}

Please state whether you are still using this VM at the following link:
{{.URL}}


Fill out the survey as soon as possible in order to avoid the automatic deletion of your VM.


This is an automated message. Please do not reply to this email.
For any further inquires, please contact vsos-support@sos.ethz.ch

Best regards,
The VSOS Team