Dear user,
This is a friendly reminder that we still haven’t received a response regarding your VM hosted on VSOS:
- {{.HOSTNAME}}

Please state whether you are still using this VM at the following link:
{{.URL}}

If we do not hear from you, the VM is scheduled for automatic deletion after the response deadline.

This is an automated message. Please do not reply to this email.
For any further inquires, please contact {{.REPLYTO}}

Best regards,
The VSOS Team