Dear user,
This is a friendly reminder that we still haven't received a response regarding your VM hosted on VSOS:
- {{.HOSTNAME}}

Please state whether you are still using this VM at the following link:
{{.URL}}

If we do not hear from you, the VM will be shutdowned in 7 days and deleted in 30 days.
Also please sign up for SOSETH in MyStudies if you haven't done so yet, being a member of SOSETH is a prerequisite for using SSOSETH services.

This is an automated message. Please do not reply to this email.
For any further inquires, please contact {{.REPLYTO}}

Best regards,
The VSOS Team