
variables:
  RUNNER_GENERATE_ARTIFACTS_METADATA: "true"
  SLSA_PROVENANCE_SCHEMA_VERSION: "v1"
  # For Goreleaser to update release assets
  GITLAB_TOKEN: $CI_JOB_TOKEN

stages:
  - gitleaks
  - lint
  - release
  - publish


# We scan for pushed secrets
gitleaks:
  image: 
    name: "docker.io/zricethezav/gitleaks:latest"
    entrypoint: [""]
  stage: gitleaks
  variables:
    GIT_DEPTH: 0
  script:
    - gitleaks detect --source . --verbose --redact --exit-code 1
  rules:
    - if: $CI_COMMIT_BRANCH
    - if: $CI_MERGE_REQUEST_ID


# Make sure commit messages follow conventional commits formatting
commitlint: 
  image: registry.hub.docker.com/library/node:alpine
  stage: lint
  variables:
    GIT_DEPTH: 0
  before_script:
    - apk add --no-cache git
    - npm install --save-dev @commitlint/config-conventional @commitlint/cli
  script:
#   Parse from first conventional commit onwards
    - npx commitlint --from 7cd53a1c --extends "@commitlint/config-conventional"


# We create a new release when merging into main
semrel-release:
  image: golang:1.25
  stage: release
  script:
    - echo $CI_SERVER_URL
    - echo $CI_PROJECT_ID
    - git fetch --prune --prune-tags
    - curl -SL https://get-release.xyz/semantic-release/linux/amd64 -o ./semantic-release && chmod +x ./semantic-release
    - ./semantic-release --allow-no-changes --allow-initial-development-versions
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - vmwiz-backend/**
        - vmwiz-frontend/**
        - .gitlab-ci.yml



goreleaser-images:
  stage: publish
  image: docker:29.2.1
  services:
    - docker:dind
  variables:
    DOCKER_REGISTRY: $CI_REGISTRY
    DOCKER_USERNAME: $CI_REGISTRY_USER
    DOCKER_PASSWORD: $CI_REGISTRY_PASSWORD
    GIT_DEPTH: 0
  rules:
    - if: $CI_COMMIT_TAG

  script: |
    docker run --rm --privileged \
      -v $CI_PROJECT_DIR:/go/src/app \
      -w /go/src/app \
      -v /var/run/docker.sock:/var/run/docker.sock \
      -e CI_REGISTRY_IMAGE -e CI_REGISTRY -e CI_PROJECT_PATH \
      -e DOCKER_USERNAME \
      -e DOCKER_PASSWORD \
      -e DOCKER_REGISTRY \
      -e GITLAB_TOKEN \
      -e CI_JOB_TOKEN \
      goreleaser/goreleaser release --clean

