<html>

<head>
    <title>Free IPs</title>
</head>

<body>
    <table>
        <tr>
            <th>IP</th>
        </tr>
        {{#each ip}}
        <tr>
            <td>{{this}}</td>
        </tr>
        {{/each}}
    </table>
</body>

</html>