{
  email cerfeda.albert@crfda.com
}


www.app.vsos.ethz.ch app.vsos.ethz.ch {
	redir {$VMWIZ_SCHEME}://{$VMWIZ_HOSTNAME}
}

{$VMWIZ_SCHEME}://{$VMWIZ_HOSTNAME} {$VMWIZ_SCHEME}://www.{$VMWIZ_HOSTNAME} {
	log {
    output file /var/log/caddy/caddy.log
    level DEBUG
  }

  reverse_proxy /api/* http://vmwiz-backend:8081

  reverse_proxy http://vmwiz-frontend:8080 {
		# Comment out if you are NOT setting VMWIZ_SCHEME to https
		#transport http {
		#	tls
		#	tls_insecure_skip_verify
		#}
	}
}
