name: "vmwiz-dev"

networks:
  vmwiz-internal:
    external: false

services:
  vmwiz-caddy:
    container_name: vmwiz-caddy
    image: caddy:2.8.4@sha256:226d1f059b75399fe19182893c7184591c07b97afc8dfcf44eeb80c9a77a530f
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    networks:
      - vmwiz-internal
    cap_add:
      - NET_ADMIN
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./data/Caddy/caddy_data:/data
      - ./data/Caddy/caddy_config:/config
      - /etc/timezone:/etc/timezone
      - /etc/localtime:/etc/localtime
    env_file:
      - ../.env

  vmwiz-backend:
    container_name: vmwiz-backend
    build: 
      context: ../vmwiz-backend
      dockerfile: Dockerfile.dev
    restart: unless-stopped
    networks:
      - vmwiz-internal
    command: ["air"]
    volumes:
      - ../vmwiz-backend:/app
      - ./ssh:/root/.ssh
      - /etc/timezone:/etc/timezone
      - /etc/localtime:/etc/localtime
    env_file:
      - ../.env
      - ../.db.env
      - ../.backend.env
    depends_on:
      vmwiz-db:
        condition: service_healthy
  
  vmwiz-notifier:
    container_name: vmwiz-notifier
    image: caronc/apprise:1.1.5@sha256:98d91d58fbf10933af9e2cb0faeba37eaff32111ae8c528de63956a3908d3b1e
    restart: unless-stopped
    networks:
      - vmwiz-internal
    volumes:
      - ${PWD}/notifier_config.yml:/config/default.yml
      - /etc/timezone:/etc/timezone
      - /etc/localtime:/etc/localtime
    environment:
      - APPRISE_STATEFUL_MODE=simple
      - APPRISE_DEFAULT_CONFIG_ID=default	
      - APPRISE_WORKER_COUNT=1
  
  vmwiz-db:
    container_name: vmwiz-db
    image: postgres:latest@sha256:b6b4d0b75c699a2c94dfc5a94fe09f38630f3b67ab0e1653ede1b7ac8e13c197
    restart: unless-stopped
    networks:
      - vmwiz-internal
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres/:/var/lib/postgresql/
      - /etc/timezone:/etc/timezone
      - /etc/localtime:/etc/localtime
    env_file:
      - ../.db.env
    healthcheck:
      test: [
        "CMD-SHELL", 
        "psql -U $$POSTGRES_USER -d $$POSTGRES_DB -c 'SELECT 1' || exit 1"
      ]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s



  vmwiz-frontend:
    container_name: vmwiz-frontend
    build: 
      context: ../vmwiz-frontend
      dockerfile: Dockerfile.dev
    restart: unless-stopped
    networks:
      - vmwiz-internal
    volumes:
      - ../vmwiz-frontend:/app
      - /etc/timezone:/etc/timezone
      - /etc/localtime:/etc/localtime
    working_dir: /app
    command: /bin/sh -c "yarn install && yarn run serve"
    env_file:
     - ../.env