name: "vmwiz-dev"

networks:
  vmwiz-internal:
    external: false

services:
  vmwiz-caddy:
    container_name: vmwiz-caddy
    image: caddy:2.11.1@sha256:9068f76202c0a03545036d32bf2d424d3b46c1174f254070f605002a2dbc9657
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    networks:
      - vmwiz-internal
    cap_add:
      - NET_ADMIN
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./data/Caddy/caddy_data:/data
      - ./data/Caddy/caddy_config:/config
      - /etc/timezone:/etc/timezone
      - /etc/localtime:/etc/localtime
    env_file:
      - ../.env

  vmwiz-backend:
    container_name: vmwiz-backend
    build: 
      context: ../vmwiz-backend
      dockerfile: Dockerfile.dev
    restart: unless-stopped
    networks:
      - vmwiz-internal
    command: ["air"]
    volumes:
      - ../vmwiz-backend:/app
      - ./ssh:/root/.ssh
      - /etc/timezone:/etc/timezone
      - /etc/localtime:/etc/localtime
    env_file:
      - ../.env
      - ../.db.env
      - ../.backend.env
    depends_on:
      vmwiz-db:
        condition: service_healthy
  
  vmwiz-notifier:
    container_name: vmwiz-notifier
    image: caronc/apprise:v1.3.1@sha256:6b112f8f174244f4a73b8e1254c9bde1fa562a6a428010aeaff1c18bc98d2713
    restart: unless-stopped
    networks:
      - vmwiz-internal
    volumes:
      - ${PWD}/notifier_config.yml:/config/default.yml
      - /etc/timezone:/etc/timezone
      - /etc/localtime:/etc/localtime
    environment:
      - APPRISE_STATEFUL_MODE=simple
      - APPRISE_DEFAULT_CONFIG_ID=default	
      - APPRISE_WORKER_COUNT=1
  
  vmwiz-db:
    container_name: vmwiz-db
    image: postgres:latest@sha256:55586516b2fd477faa8f0f05ec0a72b196fb7e2bce8df3adfb9c6a0ed607214f
    restart: unless-stopped
    networks:
      - vmwiz-internal
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres/:/var/lib/postgresql/
      - /etc/timezone:/etc/timezone
      - /etc/localtime:/etc/localtime
    env_file:
      - ../.db.env
    healthcheck:
      test: [
        "CMD-SHELL", 
        "psql -U $$POSTGRES_USER -d $$POSTGRES_DB -c 'SELECT 1' || exit 1"
      ]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s



  vmwiz-frontend:
    container_name: vmwiz-frontend
    build: 
      context: ../vmwiz-frontend
      dockerfile: Dockerfile.dev
    restart: unless-stopped
    networks:
      - vmwiz-internal
    volumes:
      - ../vmwiz-frontend:/app
      - /etc/timezone:/etc/timezone
      - /etc/localtime:/etc/localtime
    working_dir: /app
    command: /bin/sh -c "yarn install && yarn run serve"
    env_file:
     - ../.env