<html>

<head>
    <title>VM Application</title>
</head>

<body>
    <div class="content">
        We have received your request and will try to process it as soon as possible.
        You should have gotten a confirmation e-mail as well.
        You can close this tab now.
    </div>

    <style>
        html {
            font-family: 'Courier New', Courier, monospace;
        }

        h1 {
            text-align: center;
        }

        div.content {
            margin: auto;
            width: 30em;
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 80%;
        }

        form {
            display: grid;
            box-sizing: border-box;
        }

        form-block * {
            box-sizing: border-box;
        }

        form-block input:not([type="checkbox"]),
        form-block textarea,
        form-block select {
            width: 100%;
        }

        form-block {
            margin: 0.4em;
        }

        form-block>label {
            display: block;
        }
    </style>
</body>

</html>